source https://api.nuget.org/v3/index.json
nuget Microsoft.AspNet.WebApi 5.2.4  
nuget Microsoft.AspNet.WebApi.Client 5.2.4  
nuget Microsoft.AspNet.WebApi.Core 5.2.4  
nuget Microsoft.AspNet.WebApi.WebHost 5.2.4  
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.8  
nuget Microsoft.Net.Compilers 2.6.1  
nuget Microsoft.Owin 4.0.0  
nuget Microsoft.Owin.Host.SystemWeb 4.0.0  
nuget Newtonsoft.Json 
nuget Owin 1.0  
nuget SignalX 2.0.0-pre
nuget System.Collections.Immutable 1.5.0
nuget Microsoft.AspNet.SignalR.Core  >= 2.2.3